<html>
   <head>
      <script type="text/javascript">
         <!--
            function Redirect() {
               window.location="http://blog.udock.cn";
            }
         //-->
      </script>
   </head>

   <body onload="Redirect();">
      <p>正在转向【吾道口】,请稍候...</p>

   </body>
</html>
